h1{
    color: black;
}

.itemsMenuCentralUsuario{
    list-style: none;

    border-radius: 40px;

}
.linksMenuCentralUsuario{
    text-decoration: none;
    color: antiquewhite;
}
.linksMenuCentralUsuario:hover{
    background: blue;
}
